---
startDelaySeconds: 10
ssl: false
lowercaseOutputName: true
lowercaseOutputLabelNames: true
rules:
  - pattern: 'kafka.connect<type=connect-worker-metrics><>([^:]+)'
    name: kafka_connect_worker_$1
    type: GAUGE
  - pattern: 'kafka.connect<type=connector-metrics, connector=([^,]+)><>([^:]+)'
    name: kafka_connect_connector_$2
    labels:
      connector: "$1"
    type: GAUGE
  - pattern: 'kafka.connect<type=source-task-metrics, connector=([^,]+), task=([^,]+)><>([^:]+)'
    name: kafka_connect_source_task_$3
    labels:
      connector: "$1"
      task: "$2"
    type: GAUGE
  - pattern: 'debezium.([^:]+)<type=connector-metrics, context=([^,]+), server=([^,]+), task=([^>]+)><>([^:]+)'
    name: debezium_$1_$2_$5
    labels:
      server: "$3"
      task: "$4"
    type: GAUGE

