[Unit]
Description=Kafka Connect distribué avec Debezium {{ debezium_version }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ kafka_connect_user }}
Group={{ kafka_connect_group }}
Environment="JAVA_HOME={{ java21_home }}"
Environment="PATH={{ java21_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="KAFKA_HEAP_OPTS={{ connect_heap_opts }}"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j2.configurationFile={{ connect_install_dir }}/config/connect-log4j2.yaml"
Environment="KAFKA_OPTS=-Djavax.xml.parsers.SAXParserFactory=com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl -javaagent:{{ jmx_exporter_install_dir }}/jmx_prometheus_javaagent-{{ jmx_exporter_version }}.jar=0.0.0.0:{{ connect_jmx_exporter_port }}:{{ connect_config_dir }}/jmx-exporter.yml"
Environment="LOG_DIR={{ connect_log_dir }}"
ExecStart={{ connect_install_dir }}/bin/connect-distributed.sh {{ connect_config_dir }}/connect-distributed.properties
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s
TimeoutStopSec=120
LimitNOFILE=100000
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ connect_data_dir }} {{ connect_log_dir }}
UMask=0027

[Install]
WantedBy=multi-user.target
