security.protocol=SSL
ssl.keystore.type=PKCS12
ssl.keystore.location={{ kafka_pki_dir }}/keystore.p12
ssl.keystore.password={{ hostvars['localhost'].kafka_keystore_password }}
ssl.key.password={{ hostvars['localhost'].kafka_keystore_password }}
ssl.truststore.type=PKCS12
ssl.truststore.location={{ kafka_pki_dir }}/truststore.p12
ssl.truststore.password={{ hostvars['localhost'].kafka_truststore_password }}
ssl.endpoint.identification.algorithm=HTTPS

