[Unit]
Description=Apache Kafka {{ kafka_version }} (KRaft)
Documentation=https://kafka.apache.org/documentation/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ kafka_service_user }}
Group={{ kafka_service_group }}
Environment="JAVA_HOME={{ java21_home }}"
Environment="PATH={{ java21_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j2.configurationFile={{ kafka_config_dir }}/log4j2.yaml"
Environment="KAFKA_OPTS=-javaagent:{{ jmx_exporter_install_dir }}/jmx_prometheus_javaagent-{{ jmx_exporter_version }}.jar=0.0.0.0:{{ kafka_jmx_exporter_port }}:{{ kafka_config_dir }}/jmx-exporter.yml"
Environment="LOG_DIR={{ kafka_log_dir }}"
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_config_dir }}/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s
TimeoutStopSec=180
LimitNOFILE=100000
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths={{ kafka_data_dir }} {{ kafka_metadata_dir }} {{ kafka_log_dir }}
UMask=0027

[Install]
WantedBy=multi-user.target
