Configuration:
  status: warn
  Appenders:
    Console:
      name: STDOUT
      PatternLayout:
        pattern: "[%d] %-5p %m (%c)%n"
  Loggers:
    Root:
      level: INFO
      AppenderRef:
        ref: STDOUT
    Logger:
      - name: kafka
        level: INFO
      - name: org.apache.kafka
        level: INFO

