---
startDelaySeconds: 10
ssl: false
lowercaseOutputName: true
lowercaseOutputLabelNames: true
rules:
  - pattern: 'kafka.server<type=(.+), name=(.+)><>Value'
    name: kafka_server_$1_$2
    type: GAUGE
  - pattern: 'kafka.server<type=(.+), name=(.+)><>Count'
    name: kafka_server_$1_$2_total
    type: COUNTER
  - pattern: 'kafka.controller<type=(.+), name=(.+)><>Value'
    name: kafka_controller_$1_$2
    type: GAUGE
  - pattern: 'kafka.network<type=(.+), name=(.+)><>Value'
    name: kafka_network_$1_$2
    type: GAUGE
  - pattern: 'kafka.log<type=(.+), name=(.+)><>Value'
    name: kafka_log_$1_$2
    type: GAUGE

