[Unit]
Description=Prometheus {{ prometheus_version }}
After=network-online.target alertmanager.service
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
ExecStart={{ prometheus_install_dir }}/prometheus --config.file={{ prometheus_config_dir }}/prometheus.yml --storage.tsdb.path=/var/lib/prometheus --storage.tsdb.retention.time={{ prometheus_retention_time }} --storage.tsdb.retention.size={{ prometheus_retention_size }} --web.listen-address={{ ui_bind_address }}:{{ prometheus_port }}
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/lib/prometheus

[Install]
WantedBy=multi-user.target

