---
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: cdc-kafka

rule_files:
  - "{{ prometheus_config_dir }}/alert-rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["127.0.0.1:{{ alertmanager_port }}"]

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["127.0.0.1:{{ prometheus_port }}"]

  - job_name: node
    static_configs:
      - targets:
{% for host in groups['stack'] | sort %}
          - "{{ host }}:{{ node_exporter_port }}"
{% endfor %}

  - job_name: kafka-jmx
    static_configs:
      - targets:
{% for host in groups['kafka'] | sort %}
          - "{{ host }}:{{ kafka_jmx_exporter_port }}"
{% endfor %}

  - job_name: kafka-connect-jmx
    static_configs:
      - targets:
{% for host in groups['kafka_connect'] | sort %}
          - "{{ host }}:{{ connect_jmx_exporter_port }}"
{% endfor %}

  - job_name: kafka-exporter
    static_configs:
      - targets: ["127.0.0.1:{{ kafka_exporter_port }}"]

  - job_name: blackbox-connect
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for host in groups['kafka_connect'] | sort %}
          - "http://{{ host }}:{{ connect_rest_port }}/connector-plugins"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "127.0.0.1:{{ blackbox_exporter_port }}"

